.wrapper {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    font-size: 16px;
}

/*.wrapper div {*/
/*    margin-left: 20px;*/
/*    font-size: 14px;*/
/*    margin-top: 15px;*/

/*}*/

/*.wrapper div:nth-child(1) {*/
/*    font-size: 13px;*/
/*}*/

